<!-- radio -->

<!-- COLUMNS 1 -->
<div class="col-md-12">
    <div class="form-group">
        <label for="">Which website product are you ordering? </label>
        <div class="aon-inputicon-box"> 

            <div class="radio-inline-box sf-radio-check-row">

                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="any111" name="abc" value="five" type="radio">
                    <label for="any111">Male</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="abc" value="five" type="radio">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="abc" value="five" type="radio">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="abc" value="five" type="radio">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="abc" value="five" type="radio">
                    <label for="body111">Female</label>
                </div>

            </div>

        </div>



    </div>
</div>


<!-- select box -->
<div class="col-sm-6">
    <div class="form-group">
        <label>Blood Group</label>
        <select class="form-select" aria-label="Default select example">
            <option>O +VE</option>
            <option>B +VE</option>
          </select>
    </div>
</div>



<!-- checkbox -->
<!-- radio -->

<!-- COLUMNS 1 -->
<div class="col-md-12">
    <div class="form-group">
        <label for="">Which website product are you ordering? </label>
        <div class="aon-inputicon-box"> 

            <div class="radio-inline-box sf-radio-check-row">

                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="any111" name="a" value="five" type="checkbox">
                    <label for="any111">Male</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="b" value="five" type="checkbox">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="c" value="five" type="checkbox">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="d" value="five" type="checkbox">
                    <label for="body111">Female</label>
                </div>
                <div class="checkbox sf-radio-checkbox sf-radio-check-2 sf-raChe-6">
                    <input id="body111" name="e" value="five" type="checkbox">
                    <label for="body111">Female</label>
                </div>

            </div>

        </div>



    </div>
</div>



<!-- form field -->
<!-- COLUMNS 1 -->
<div class="col-md-12">
    <div class="form-group">
        <label for="">Problem Summary- What problems do you solve for? </label>
        <textarea name="message" placeholder="Answer" class="form-control" rows="4" required=""></textarea>
    </div>
</div>